.bottom-5 {
    bottom: 50px
}

.bottom-10 {
    bottom: 100px
}

.bottom-15 {
    bottom: 150px
}

.bottom-20 {
    bottom: 200px
}

.bottom-25 {
    bottom: 250px
}

.bottom-30 {
    bottom: 300px
}

.bottom-35 {
    bottom: 350px
}

.bottom-40 {
    bottom: 400px
}

.bottom-45 {
    bottom: 450px
}

.bottom-50 {
    bottom: 500px
}

.bottom-55 {
    bottom: 550px
}

.bottom-60 {
    bottom: 600px
}

.bottom-65 {
    bottom: 650px
}

.bottom-70 {
    bottom: 700px
}

.bottom-75 {
    bottom: 750px
}

.bottom-80 {
    bottom: 800px
}

.bottom-85 {
    bottom: 850px
}

.bottom-90 {
    bottom: 900px
}

.bottom-95 {
    bottom: 950px
}

.bottom-100 {
    bottom: 1000px
}