* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* kirish qismi boshlandi */

#openLogIn {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffffaa;
}

#openLogIn .container {
    border-bottom: 2px solid #292942;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

#openLogIn .container:focus-within {
    border-bottom: 2px solid #0077c7
}

#openLogIn .login {
    padding: 8px;
    border: 0;
    width: 200px
}

#openLogIn .login {
    outline: 0;
}

#openLogIn .password {
    padding: 8px;
    border: 0;
    width: 200px
}

#openLogIn .password:focus {
    outline: 0
}

#openLogIn .password-icon {
    float: right;
    background: #fff;
    cursor: pointer;
    padding: 6.5px
}

#openLogIn .fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#openLogIn button {
    width: 135px;
    margin-top: 28px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 8px 12px;
    background-color: #001aff44;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

#openLogIn button span {
    fill: transparent;
    font-size: 12px;
}

#openLogIn button svg {
    fill: #001aff44;
    width: 15px;
    height: 15px;
    display: none;
}

#openLogIn button:hover {
    background-color: #001affdd;
    color: #fff;
    font-size: 15px;
    animation: buttonAnimation 3s forwards;
}

@keyframes buttonAnimation {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-8px);
    }
    66% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-10px);
    }
}

#openLogIn button:focus {
    outline: none;
    border: solid 2px transparent;
    animation: spin 3s 500ms forwards;
}

@keyframes spin {
    80% {
        border: 2px solid transparent;
    }
    100% {
        transform: translateY(10px) rotate(1080deg);
        border: 2px solid #001affdd;
        width: 35px;
        height: 30px;
        border-radius: 50%;
        margin: 0 55px;
        overflow: hidden;
    }
}

#openLogIn button:focus span {
    color: transparent;
    display: none;
}

#openLogIn button:hover svg {
    fill: #001affdd;
}

#openLogIn button:focus svg {
    display: inline-block;
    fill: #fff;
    width: 30px;
    height: 20px;
}


/* kirish qismi tugadi */


/* xatolikni bildirish qismi boshlandi */

#closeLogIn {
    font-variant-caps: small-caps;
    padding: 50px 100px;
    line-height: 50px;
}

#closeLogIn h1 a {
    color: #00ff00;
}

#closeLogIn h1 span {
    color: #00ff;
    cursor: url("../image/icons/cursor/Refresh.cur"), auto;
}


/* xatolikni bildirish qismi tugadi */


/* Asosiy qism boshlandi */

#pulse {
    position: fixed;
    height: 100vh;
    width: 100%;
    animation: pulseid 3s forwards;
}

@keyframes pulseid {
    0% {
        background: #fff;
    }
    100% {
        background: none;
    }
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-color: #6495ed;
}

.pulse::after {
    content: '';
    position: absolute;
    width: 5em;
    height: 5em;
    z-index: 11;
    border-radius: 50%;
    background-color: #6495ed66;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 2;
    }
}


/* Asosiy qism tugadi */