* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* kirish qismi boshlandi */

#openLogIn {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffffaa;
}

#openLogIn .container {
    border-bottom: 2px solid #292942;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

#openLogIn .container:focus-within {
    border-bottom: 2px solid #0077c7
}

#openLogIn .login {
    padding: 8px;
    border: 0;
    width: 200px
}

#openLogIn .login {
    outline: 0;
}

#openLogIn .password {
    padding: 8px;
    border: 0;
    width: 200px
}

#openLogIn .password:focus {
    outline: 0
}

#openLogIn .password-icon {
    float: right;
    background: #fff;
    cursor: pointer;
    padding: 6.5px
}

#openLogIn .fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#openLogIn button {
    width: 135px;
    margin-top: 28px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 8px 12px;
    background-color: #001aff44;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

#openLogIn button span {
    fill: transparent;
    font-size: 12px;
}

#openLogIn button svg {
    fill: #001aff44;
    width: 15px;
    height: 15px;
    display: none;
}

#openLogIn button:hover {
    background-color: #001affdd;
    color: #fff;
    font-size: 15px;
    animation: buttonAnimation 3s forwards;
}

@keyframes buttonAnimation {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-8px);
    }
    66% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-10px);
    }
}

#openLogIn button:focus {
    outline: none;
    border: solid 2px transparent;
    animation: spin 3s 500ms forwards;
}

@keyframes spin {
    80% {
        border: 2px solid transparent;
    }
    100% {
        transform: translateY(10px) rotate(1080deg);
        border: 2px solid #001affdd;
        width: 35px;
        height: 30px;
        border-radius: 50%;
        margin: 0 55px;
        overflow: hidden;
    }
}

#openLogIn button:focus span {
    color: transparent;
    display: none;
}

#openLogIn button:hover svg {
    fill: #001affdd;
}

#openLogIn button:focus svg {
    display: inline-block;
    fill: #fff;
    width: 30px;
    height: 20px;
}


/* kirish qismi tugadi */


/* xatolikni bildirish qismi boshlandi */

#closeLogIn {
    font-variant-caps: small-caps;
    padding: 50px 100px;
    line-height: 50px;
}

#closeLogIn h1 a {
    color: #00ff00;
}

#closeLogIn h1 span {
    color: #00ff;
    cursor: url("../image/icons/cursor/Refresh.cur"), auto;
}


/* xatolikni bildirish qismi tugadi */


/* Asosiy qism boshlandi */

#pulse {
    position: fixed;
    height: 100vh;
    width: 100%;
    animation: pulseid 7s forwards;
    z-index: 9999;
}

@keyframes pulseid {
    0% {
        background: #fff;
    }
    100% {
        background: none;
    }
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-color: #6495ed;
}

.pulse::after {
    content: '';
    position: absolute;
    width: 5em;
    height: 5em;
    z-index: 11;
    border-radius: 50%;
    background-color: #6495ed66;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 2;
    }
}


/*  */

.page {
    box-sizing: border-box;
    order: 1;
    margin: auto;
}

.menyu:hover .menyu_link:not(:hover) {
    opacity: .5;
}

.menyu_list {
    display: flex;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.menyu-group {
    flex-grow: 1;
}

.menyu {
    background-color: #0957ff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.menyu_link:focus {
    outline: 2px solid #fff;
}

.menyu_link {
    position: relative;
    overflow: hidden;
    padding: 2rem 1.5rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    will-change: color;
    display: block;
    transition: color .25s ease-out;
}

.menyu_link::before {
    left: 50%;
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

.menyu_link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.menyu_link:hover::before,
.menyu_link:hover::after {
    width: 100%;
    transition-duration: .2s;
}


/*  */

.nav1,
.nav2 {
    position: fixed;
    bottom: 20px;
    /* width: 100%; */
}

.fa-chevron-circle-right {
    background-color: #00ff;
    color: #fff;
    border-radius: 50%;
    font-size: 45px;
    transform: rotateZ(270deg);
    cursor: pointer;
}

.nav1 {
    right: 70px;
}

.nav1 .fa-chevron-circle-right {
    position: absolute;
    right: 0;
    bottom: 100%;
}

.nav2 {
    left: 70px;
}

.nav1 .holatA {
    transform: rotateZ(90deg);
}


/* Asosiy qism tugadi */


/* kalkulyator boshlandi */

#kalkulyator iframe {
    width: 340px;
    height: 450px;
    scroll-margin: none;
}


/* kalkulyator tugadi */


/* 13.12.2020 */

.asosiy-menyu {
    width: 100%;
    height: 400px;
    transform: translateX(70px);
}

.asosiy-menyu .menyu {
    width: 100%;
    margin: 0 auto;
}

#navA {
    z-index: 500;
}

#navBody.bottom-40 {
    transform: translateY(-20px)
}

#navBody.bottom-40>div>i {
    transform: rotateZ(45deg)
}