.wFz-5 {
    width: 5%
}

.wFz-10 {
    width: 10%
}

.wFz-15 {
    width: 15%
}

.wFz-20 {
    width: 20%
}

.wFz-25 {
    width: 25%
}

.wFz-30 {
    width: 30%
}

.wFz-35 {
    width: 35%
}

.wFz-40 {
    width: 40%
}

.wFz-45 {
    width: 45%
}

.wFz-50 {
    width: 50%
}

.wFz-55 {
    width: 55%
}

.wFz-60 {
    width: 60%
}

.wFz-65 {
    width: 65%
}

.wFz-70 {
    width: 70%
}

.wFz-75 {
    width: 75%
}

.wFz-80 {
    width: 80%
}

.wFz-85 {
    width: 85%
}

.wFz-90 {
    width: 90%
}

.wFz-95 {
    width: 95%
}

.wFz-100 {
    width: 100%
}