.w-5 {
    width: 50px;
}

.w-10 {
    width: 100px;
}

.w-15 {
    width: 150px;
}

.w-20 {
    width: 200px;
}

.w-25 {
    width: 250px;
}

.w-30 {
    width: 300px;
}

.w-35 {
    width: 350px;
}

.w-40 {
    width: 400px;
}

.w-45 {
    width: 450px;
}

.w-50 {
    width: 500px;
}

.w-55 {
    width: 550px;
}

.w-60 {
    width: 600px;
}

.w-65 {
    width: 650px;
}

.w-70 {
    width: 700px;
}

.w-75 {
    width: 750px;
}

.w-80 {
    width: 800px;
}

.w-85 {
    width: 850px;
}

.w-90 {
    width: 900px;
}

.w-95 {
    width: 950px;
}

.w-100 {
    width: 1000px;
}